.App {
  font-size: 1.2em;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

input, select {
  margin: 0 auto;
}

.statinput {
  width: 50px;
}

.skillbonus {
  width: 50px;
  margin-right: 0;
}